<?xml version="1.0" encoding="UTF-8"?>
<datasources>

    <xa-datasource>
        <!-- This is the only line different amongst the environments -->
        <xa-datasource-property name="URL">jdbc:oracle:thin:@ldap://tns.na.novartis.net:389/bsr_usca_prod,cn=oraclecontext,dc=research,dc=pharma</xa-datasource-property>

        <jndi-name>bsr_pool</jndi-name>
        <track-connection-by-tx>true</track-connection-by-tx>
        <isSameRM-override-value>false</isSameRM-override-value>
        <min-pool-size>5</min-pool-size>
        <max-pool-size>100</max-pool-size>
        <xa-datasource-class>oracle.jdbc.xa.client.OracleXADataSource</xa-datasource-class>
        <security-domain>BSR</security-domain>
        <exception-sorter-class-name>org.jboss.resource.adapter.jdbc.vendor.OracleExceptionSorter</exception-sorter-class-name>
        <no-tx-separate-pools />

        <metadata>
            <type-mapping>Oracle10g</type-mapping>
        </metadata>

    </xa-datasource>

    <mbean code="org.jboss.resource.adapter.jdbc.vendor.OracleXAExceptionFormatter" name="jboss.jca:service=OracleXAExceptionFormatter">
        <depends optional-attribute-name="TransactionManagerService">jboss:service=TransactionManager</depends>
    </mbean>

</datasources>
