#!/bin/bash
export BSR_SMF_ENV=PROD
export BSR_METASTORE_ENV=PROD
export BSR_SEND_CURATION_EMAILS=Yes
export BSR_SYS_USER="<%= @SYS_BSR_USER %>"
export BSR_SYS_PASSWORD="<%= @SYS_BSR_PASSWORD %>"
export JAVA_HOME="<%= node['java']['java_home'] %>"
export JAVA="<%= node['java']['java_home'] %>/bin/java"
/apps/jboss/bin/run.sh -b 0.0.0.0 -Djava.rmi.server.hostname="<%= node[:fqdn] %>" -Djboss.service.binding.set=ports-01 &
