#!/bin/bash
export BSR_SMF_ENV=DEV
export BSR_METASTORE_ENV=TEST
export BSR_SEND_CURATION_EMAILS=No
export BSR_SYS_USER="<%= @SYS_BSR_USER %>"
export BSR_SYS_PASSWORD="<%= @SYS_BSR_PASSWORD %>"
export JAVA_HOME="<%= node['java']['java_home'] %>"
export JAVA="<%= node['java']['java_home'] %>/bin/java"
export JAVA_OPTS="-Xms4096m -Xmx8196m -XX:MaxPermSize=2048m -Dorg.jboss.resolver.warning=true -Dsun.rmi.dgc.client.gcInterval=3600000 -Dsun.rmi.dgc.server.gcInterval=3600000 -Xdebug -Xnoagent -Xrunjdwp:transport=dt_socket,address=8787,server=y,suspend=n $JAVA_OPTS"
/apps/jboss/bin/run.sh -b 0.0.0.0 -Djava.rmi.server.hostname="<%= node[:fqdn] %>" -Djboss.service.binding.set=ports-01 -Djboss.boot.server.log.level=DEBUG -Djboss.boot.server.log.console.level=DEBUG &
